* {
  font-family: "Heebo", sans-serif;
}
.limitations-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.factors-container-one {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 80%;
  height: 20%;
}
.factors-container-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  width: 80%;
  height: 20%;
  margin-left: 40%;
  margin-top: 35%;
}
.factors-container-three {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  height: 20%;
  gap: 4rem;
  margin-left: -30%;
}

.factors-container-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.factors {
  border-radius: 2rem;
  padding: 1rem;
  border-color: none;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.471);
}

.title-limitations {
  font-size: 250%;
}

.factors div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.factors img {
  width: 3rem;
}

.factors p {
  padding: 1rem;
  color: rgba(52, 57, 57, 0.977);
  line-height: 150%;
}
.title-limitations {
  color: rgba(52, 57, 57, 0.977);
  line-height: 200%;
  font-size: 320%;
  display: flex;
  margin-left: 19%;
}
.info-limitations-one {
  color: rgba(52, 57, 57, 0.977);
  line-height: 150%;
  font-size: 120%;
  display: flex;
  justify-content: center;
}
.info-limitations {
  color: rgba(52, 57, 57, 0.977);
  line-height: 150%;
  font-size: 100%;
  display: flex;
  text-align: left;
}
