html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  background-color: #96b5de13;
}

.container-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 50%;
  margin-left: 20%;
  gap: 10%;
}

.info-container {
  text-align: center;
  order: 2;
}

.photo-container {
  text-align: center;
  order: 1;
}

.photo {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 250%;
  font-weight: 800;
  color: rgba(52, 57, 57, 0.977);
}

.description {
  font-size: 100%;
  text-align: justify;
  line-height: 200%;
  color: rgba(94, 103, 103, 0.977);
}
@media only screen and (max-width: 600px) {
  .container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 3%;
  }
  .photo {
    max-width: 350px;
  }
  .title {
    font-size: 200%;
    text-align: justify;
    width: 100%;
  }

  .description {
    color: rgba(52, 57, 57, 0.977);
    font-size: 100%;
    display: flex;
    text-align: justify;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .photo {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
  }
  .title {
    font-size: 200%;
    text-align: justify;
    width: 120%;
  }

  .description {
    color: rgba(52, 57, 57, 0.977);
    font-size: 100%;
    display: flex;
    text-align: justify;
    width: 120%;
    margin-bottom: 10%;
  }
}
@media only screen and (min-width: 1200px) {
  .container-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 50%;
    margin-left: 20%;
    gap: 10%;
    margin-top: 10%;
  }
}
