html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: #96b5de13;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Heebo", sans-serif;
}

.container-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  max-width: 1200px;
  width: 80%;
}

.info-container {
  text-align: center;
  order: 2;
}

.photo-container {
  text-align: center;
  order: 1;
}

.photo {
  width: 150%;
  max-width: 350px;
}

.title {
  font-size: 250%;
  font-weight: 800;
  color: rgba(52, 57, 57, 0.977);
}

.description {
  font-size: 120%;
  text-align: justify;
  line-height: 200%;
  color: rgba(94, 103, 103, 0.977);
}
