* {
  font-family: "Heebo", sans-serif;
}
.container-tips {
  display: flex;
  justify-content: center;
}

.box-one,
.box-two,
.box-three {
  width: 20%;
}

.icon-tips {
  width: 15%;
  display: flex;
}
.box-title {
  color: rgba(52, 57, 57, 0.977);
  text-align: left;
  font-size: 150%;
  margin-right: 25%;
}
.description-box {
  color: rgba(52, 57, 57, 0.977);
  line-height: 200%;
  text-align: left;
  font-size: 100%;
  margin-right: 25%;
}
